# -----------------------------
# Python
# -----------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Entorno virtual
# -----------------------------

venv/
.venv/
env/

# -----------------------------
# VS Code
# -----------------------------

.vscode/

# -----------------------------
# Base de datos local
# -----------------------------

*.db
*.sqlite
*.sqlite3

# -----------------------------
# Archivos temporales
# -----------------------------

*.log

# -----------------------------
# Variables de entorno
# -----------------------------

.env

# -----------------------------
# Subidas de usuarios
# -----------------------------

uploads/

# -----------------------------
# Resultados temporales
# -----------------------------

results/

# -----------------------------
# Sistema operativo
# -----------------------------

.DS_Store
Thumbs.db