body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

    background: #f4f6f8;

}

.container {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

}

.card {

    background: white;

    width: 500px;

    padding: 30px;

    border-radius: 15px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);

}

h1 {

    text-align: center;

}

p {

    text-align: center;

    color: gray;

}

input[type=file]{

    margin-top:20px;

    width:100%;

}


/* Boton Analizar factura */

button {

    width: 100%;

    margin-top: 20px;

    padding: 12px;

    border: none;

    border-radius: 8px;

    background-color: #2563eb;

    color: white;

    font-size: 16px;

    cursor: pointer;

}

button:hover {

    background-color: #1d4ed8;

}

#estado {

    margin-top: 20px;

    text-align: center;

    color: green;

}

/* lista de productos en pantalla */
#resultado{

    margin-top:30px;

    border-top:1px solid #ddd;

    padding-top:20px;

}

#productos{

    padding-left:20px;

}

#productos li{

    margin-bottom:8px;

}